.footer {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.footer a {
  text-decoration: none;
}

.footer-logo {
  width: 100px;
  height: auto;
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
