.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  gap: 10%;
}

.login-left-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.login-left-container h1 {
  font-size: 3em;
  font-weight: bold;
}

.login-right-container {
  height: 50vh;
  display: flex;
  align-items: flex-end;
}

.google-login {
  width: 25vw;
  height: 28vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-login-button {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.google-login-button:hover {
  background-color: #f0f0f0;
}

.google-login-button i {
  color: #4285f4;
}

.revenueBro {
  height: 50vh;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
    margin-top: 5vh;
    gap: 5%;
  }

  .login-left-container {
    height: auto;
    gap: 1em;
  }

  .login-left-container h1 {
    font-size: 2em;
    font-weight: bold;
  }

  .login-right-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .google-login {
    width: 80vw;
    height: 10vh;
  }

  .google-login-button {
    padding: 8px;
    font-size: 25spx;
  }

  .revenueBro {
    height: 40vh;
    margin-top: 2vh;
    margin-bottom: 7vh;
  }
}
