.container-month-aportes {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  min-height: 45vh;
  color: black;
}

.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.month-navigation button {
  background-color: #92e3a9;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: inherit;
}

.month-navigation button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.month-navigation h2 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.aportes-list {
  list-style-type: none;
  padding: 0;
}

.aportes-list li {
  padding: 1em;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
}

.aporte-data {
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

.aporte-data strong {
  color: #92e3a9;
}

.total-aportes {
  margin-top: 1em;
  text-align: right;
  font-weight: bold;
  color: #707070;
}
